body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://media0.giphy.com/media/K9AnZe1fuZb68/200.gif');
  background-size: cover;
  background-position: center;
}

a {
  color: mediumaquamarine;
}

h1 {
  color:  #00B7FF;
  
}
